<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <title>MCB GROUP</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> 
    {{> header_import}}

    <!-- Custom css -->
    <link rel="stylesheet" href="/resources/css/app.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    
    <div class="wrapper">
        {{{body}}}
    </div>

    {{> body_import}}
</body>
</html>

