<div class="login_div">
    <div class="box login_box">
        <div class="login-logo">
            <a href="#" class="logo">
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>MCB</b> GROUP</span>
            </a>
        </div>
        <div class="login-box-body">
            <form method="post">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Nhớ mật khẩu
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="row row_btn">
                    <div class="col-md-6 col_btn">
                       <button type="submit" class="btn btn-primary btn-block btn-flat btn_login">Đăng nhập</button>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6 col_btn">
                       <a href="http://localhost:3000/register" class="btn btn-primary btn-block btn-flat btn_login">Đăng kí</a>
                    </div>
                    <!-- /.col -->
                </div>
                <a href="/auth/google" class="btn btn-block btn-social btn-google btn-flat btn-login-gg"><i class="fa fa-google-plus "></i> Sign in using Google+</a>
            </form>
        </div>
    </div>  
</div>