<div class="login_div">
    <div class="box login_box">
        <div class="login-logo">
            <a href="#" class="logo">
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>MCB</b> GROUP</span>
            </a>
        </div>
        <div class="login-box-body">
            <h1>{{message}}</h1>
        </div>
        <div class="login-box-body">
            <a href="http://localhost:4321/test/Momo">Return</a>
        </div>
    </div> 
</div>