<div class="login_div">
    <div class="box login_box">
        <div class="login-logo">
            <a href="#" class="logo">
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>MCB</b> GROUP</span>
            </a>
        </div>
        <div class="login-box-body">
            <form method="post" action="/test/MomoApi" >
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Id" id="id" name="id">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row row_btn">
                    <div class="col-md-6 col_btn">
                       <button type="submit" class="btn btn-primary btn-block btn-flat btn_login">Gửi</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>  
</div>