.typeChart {
  margin-left: 10px;
  margin-right: 20px;
}

.dayUpdate {
  margin-left: 10px;
}

.progress-group {
  padding-left: 5%;
  padding-right: 5%;
}

.last_prog {
  padding-bottom: 3%;
}

.footer1 {
  margin-bottom: 18px;
}

.login_div {
  height: 100vh;
  background-color: #222d32;
}

.login-logo span {
  color: #3c8dbc;
}

.login_box {
  width: 25%;
  min-width: 300px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.login-logo {
  margin-top: 20px;
  margin-bottom: -2px;
}

.login-box-body {
  margin-left: 5%;
  margin-right: 5%;
}

.row_btn .btn {
  margin-top: 8px;
}

.btn_login a {
  color: #fff;
}

.lbl_sel {
  margin-top: 6px;
}

.btn_report {
  margin-right: 8px;
  margin-bottom: 10px;
}

.btn_group {
  margin-left: 15px;
  margin-right: 15px;
}

.set-menu {
  width: 150px !important;
}

.chart-row .box {
  height: 340px;
}

.btn-login-gg {
  margin-top: 10px;
}

.title-h3 {
  margin-left: 14px;
}

.last_prog_biz {
  padding-bottom: 70px;
}
